<head>
  <title><%= title %></title>
  <link type="text/css" rel="stylesheet" href="/styles.css" />

  <script>
    function toggleDiv(id) {

      var hideMe = document.getElementById(id);

      if(hideMe.style.display == 'none')
        hideMe.style.display = 'block';
      else
        hideMe.style.display = 'none';

    }

  </script>

</head>

<body>



<div class="banner">
  <h1><%= title %></h1>
  <a href = "/submit" class="under_title_link">Submit</a>
</div>

<div class="hello">
  <h2>Hello <%= name %>!<h2>
</div>

<div id="hidden">
  <form method="post">
    <input class="login_input" placeholder="E-mail" type="email" name="email"/><br><br>
    <input class="login_input" placeholder="Password" type="password" name="password"/><br><br>
    <input class="login_input" type="submit" value="Login">
  </form>
</div>
<div id="bulk_box">
  <ul>
  <% @everything.each do |stuff| %>
    <li>
      <a href = "<%= stuff['url'] %>" ><h3 class="homepage_links"><%= stuff['url'] %></h3></a>
      <p><%= stuff['title'] %></p>
      <% button_up_name = "up #{stuff['id']}" %>
      <% button_down_name = "down #{stuff['id']}" %>
      <form method="post"><button name="vote_button" type="submit" value="<%= button_up_name %>">^</button>
      <%= stuff['score'] %>
      <button type="submit" name="vote_button" value="<%= button_down_name %>">v</button></form>

      <p><%= '-' * 50 %></br></p>
    </li>
  <% end %>
  </ul>

</div>
